<h2>Week 4: Function</h2>

***

## Section 1: Assignment QA

***

## Section 2: Data Type (Continued) & Function

<strong>G. Dictionary</strong>
- Dictionary is a list of `key â†’ value` pairs. `Keys` are **unique** identifiers of elements. `Values` can be of different data type.
- The main usage of dictionary is to look up a `value` based its on `key`.
- How to create a dictionary? 
    - Use <font color="red">curly braces {}</font>, separating elements with comma. 
    - Each element contains a <b>unique key</b> and a value, separated by colon.
    - Keys and values can be of any data type
    - Format: `{key1:value1, key2:value2}`
- How to <b>look up</b> a value for a given key?
    - Format: `dictionary[key]`

<img src='https://juniorworld.github.io/python-workshop/img/week2_dictionary.jpg' width="400" align="left">

In [9]:
# Suppose we have three participants in our class: peter (id=1001), yuner (id=1002), benjamin (id=1003).
# Try generating a dictionary of participants' ids and their names.
student_dic={1001:"peter",1002:'yuner',1003:'benjamin'}

In [10]:
student_dic[1001]

'peter'

In [11]:
# We can expand the dictionary to have more values about students, such as gender and age
student_dic={1001:["peter","M",23],1002:['yuner','F',32],1003:['benjamin','M',24]}

In [12]:
student_dic

{1001: ['peter', 'M', 23],
 1002: ['yuner', 'F', 32],
 1003: ['benjamin', 'M', 24]}

<div class="alert alert-block alert-success">

We can use method `.keys()` to access all keys and `.values()` to access all values.</div>

In [13]:
# Try .keys() and .values() methods.
student_dic.keys()

dict_keys([1001, 1002, 1003])

In [14]:
student_dic.values()

dict_values([['peter', 'M', 23], ['yuner', 'F', 32], ['benjamin', 'M', 24]])

In [15]:
# How many items are there in student_dic?
len(student_dic.keys())

3

<font color="blue"><b>Exercise</b>
    <p>Create two dictionaries of the top 5 movies on IMDB (https://www.imdb.com/chart/top/).<br>
    1.First dictionary: Use ranking as the key. Include movie name, rating and release year as the values. <br>
    2.Second dictionary: Use movie name as the key. Include ranking, rating, and release year as the values.</p></font>

In [18]:
IMDB1={1:['The Shawshank Redemption',9.2,1994],2:["The Godfather",9.2,1972],3:["The Dark Knight",9.0,2008],4:["The Godfather: Part II",9.0,1974],5:["12 Angry Men",9.0,1957]}

In [19]:
IMDB1

{1: ['The Shawshank Redemption', 9.2, 1994],
 2: ['The Godfather', 9.2, 1972],
 3: ['The Dark Knight', 9.0, 2008],
 4: ['The Godfather: Part II', 9.0, 1974],
 5: ['12 Angry Men', 9.0, 1957]}

To add new items, you can simply use the following syntax, much similar to variable assignment:
>```python
dictionary[key] = value
```

In [20]:
#add one more movie to the dictionary
IMDB1[6]=["Schindler's List",8.9,1993]

In [21]:
IMDB1

{1: ['The Shawshank Redemption', 9.2, 1994],
 2: ['The Godfather', 9.2, 1972],
 3: ['The Dark Knight', 9.0, 2008],
 4: ['The Godfather: Part II', 9.0, 1974],
 5: ['12 Angry Men', 9.0, 1957],
 6: ["Schindler's List", 8.9, 1993]}

<div class="alert alert-block alert-info">
**<b>Tip</b>** 
Dictionary has a famous counterpart in JavaScript named JSON. Compared with previous five data types, dictionary operates at a higher level as it can represent not only the values but also the <b>relationship</b> between values. Moreover, it is highly <b>human readable</b> and <font color="red">indexing a dictionary by key is often the fastest way to search </font>in Python.</div>

<strong>H. DataFrame</strong>
- Dataframe is a data structure supported by the `pandas` module, which is equivalent to table in common sense.
- How to create a DataFrame? 
    - Use Pandas' Function `pd.DataFrame(data=...[,index=...,columns=...])`. Arguments in square bracket are optional.
    - Import from other data source, like csv, excel or json. For example, `pd.read_csv(file path [, indexcol=..., header=...])`.
- Dataframe structure: rows and columns
    - columns are also known as Series
- Look up a value by index: `dataframe.loc[index]`
- Look up a value by relative location: `dataframe.iloc[index]`
- Access a single column: `dataframe[column_name]`
- Access multiple columns: `dataframe[[column1, column2 ...]]`

In [25]:
! pip3 install pandas

Requirement already satisfied: pandas in c:\users\yuner\appdata\local\programs\python\python310\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\yuner\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\yuner\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\yuner\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\yuner\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [23]:
import pandas as pd
#We have two ways to create a DataFrame, i.e. progressive way and import way.
#1.1: Progressive way BY ROW
a=pd.DataFrame([[1001,'petter','M','HKU'],[1002,'yuner','F','HKBU'],[1003,'benjamin','M','CityU']])

In [24]:
a

      0         1  2      3
0  1001    petter  M    HKU
1  1002     yuner  F   HKBU
2  1003  benjamin  M  CityU

In [26]:
#change headers
a.columns=['id','name','gender','affiliation']

In [27]:
a

     id      name gender affiliation
0  1001    petter      M         HKU
1  1002     yuner      F        HKBU
2  1003  benjamin      M       CityU

In [28]:
a.index=['a','b','c']

In [29]:
a

     id      name gender affiliation
a  1001    petter      M         HKU
b  1002     yuner      F        HKBU
c  1003  benjamin      M       CityU

In [30]:
a.columns

Index(['id', 'name', 'gender', 'affiliation'], dtype='object')

In [31]:
#1.2: Progressive way BY COLUMN
a=pd.DataFrame()
a['id']=[1001,1002,1003]
a['name']=['petter','yuner','benjamin']
a['gender']=['M','F','M']
a['affiliation']=['HK','HKBU','CityU']

In [32]:
#check out the index for each row
a.index

RangeIndex(start=0, stop=3, step=1)

In [33]:
a

     id      name gender affiliation
0  1001    petter      M          HK
1  1002     yuner      F        HKBU
2  1003  benjamin      M       CityU

In [34]:
#assign a column to be index column
a=a.set_index('id')

In [35]:
a

          name gender affiliation
id
1001    petter      M          HK
1002     yuner      F        HKBU
1003  benjamin      M       CityU

In [36]:
#Retrieve values by index
a.loc[1001]

name           petter
gender              M
affiliation        HK
Name: 1001, dtype: object

In [40]:
#Slice dataframe by index
a.loc[1001:1003]

          name gender affiliation
id
1001    petter      M          HK
1002     yuner      F        HKBU
1003  benjamin      M       CityU

In [41]:
#Retrieve values by relative location
a.iloc[0]

name           petter
gender              M
affiliation        HK
Name: 1001, dtype: object

In [42]:
#Slice dataframe by relative location
a.iloc[:3]

          name gender affiliation
id
1001    petter      M          HK
1002     yuner      F        HKBU
1003  benjamin      M       CityU

In [43]:
#Access a single column/series
a['name']

id
1001      petter
1002       yuner
1003    benjamin
Name: name, dtype: object

In [44]:
#Access two columns/series
a[['name','gender']]

          name gender
id
1001    petter      M
1002     yuner      F
1003  benjamin      M

In [45]:
#Value comparison
a['gender']=='M'

id
1001     True
1002    False
1003     True
Name: gender, dtype: bool

In [46]:
a[a['gender']=='M']

          name gender affiliation
id
1001    petter      M          HK
1003  benjamin      M       CityU

In [ ]:
#filter dataframe based on value comparison results
a[a['gender']=='M']

Download the data here: https://juniorworld.github.io/python-workshop/doc/COMM_journals.csv

In [56]:
#2: Easy way
#format: pd.read_csv(file path [, header=..., index_col=...])
b=pd.read_csv('COMM_journals.csv',header=0,index_col=0)

In [57]:
b

,Full Journal Title,JCR Abbreviated Title,Total Cites,Journal Impact Factor,Citable Items,Eigenfactor Score
Rank,,,,,,
1,NEW MEDIA & SOCIETY,NEW MEDIA SOC,"3,592",4.180,146,0.00930
2,JOURNAL OF COMMUNICATION,J COMMUN,"5,579",3.914,48,0.00838
3,JOURNAL OF HEALTH COMMUNICATION,J HEALTH COMMUN,"3,233",1.614,139,0.00707
4,Information Communication & Society,INFORM COMMUN SOC,"2,005",2.692,94,0.00600
5,PUBLIC OPINION QUARTERLY,PUBLIC OPIN QUART,"4,893",1.386,41,0.00596
...,...,...,...,...,...,...
75,JOURNAL OF BUSINESS AND TECHNICAL COMMUNICATION,J BUS TECH COMMUN,243,1.062,15,0.00026
76,Journal of African Media Studies,J AFR MEDIA STUD,66,0.154,22,0.00018
77,JOURNAL OF MEDIA ECONOMICS,J MEDIA ECON,187,0.217,12,0.00017
78,Tijdschrift voor Communicatiewetenschap,TIJDSCHR COMMUNWET,42,0.171,17,0.00007
79,African Journalism Studies,AFR JOURNAL STUD,12,0.171,27,0.00002

In [49]:
b=pd.read_csv('https://juniorworld.github.io/python-workshop/doc/COMM_journals.csv',header=0,index_col=0)

In [50]:
b

,Full Journal Title,JCR Abbreviated Title,Total Cites,Journal Impact Factor,Citable Items,Eigenfactor Score
Rank,,,,,,
1,NEW MEDIA & SOCIETY,NEW MEDIA SOC,"3,592",4.180,146,0.00930
2,JOURNAL OF COMMUNICATION,J COMMUN,"5,579",3.914,48,0.00838
3,JOURNAL OF HEALTH COMMUNICATION,J HEALTH COMMUN,"3,233",1.614,139,0.00707
4,Information Communication & Society,INFORM COMMUN SOC,"2,005",2.692,94,0.00600
5,PUBLIC OPINION QUARTERLY,PUBLIC OPIN QUART,"4,893",1.386,41,0.00596
...,...,...,...,...,...,...
75,JOURNAL OF BUSINESS AND TECHNICAL COMMUNICATION,J BUS TECH COMMUN,243,1.062,15,0.00026
76,Journal of African Media Studies,J AFR MEDIA STUD,66,0.154,22,0.00018
77,JOURNAL OF MEDIA ECONOMICS,J MEDIA ECON,187,0.217,12,0.00017
78,Tijdschrift voor Communicatiewetenschap,TIJDSCHR COMMUNWET,42,0.171,17,0.00007
79,African Journalism Studies,AFR JOURNAL STUD,12,0.171,27,0.00002

In [61]:
b.head()

,Full Journal Title,JCR Abbreviated Title,Total Cites,Journal Impact Factor,Citable Items,Eigenfactor Score
Rank,,,,,,
1,NEW MEDIA & SOCIETY,NEW MEDIA SOC,"3,592",4.180,146,0.00930
2,JOURNAL OF COMMUNICATION,J COMMUN,"5,579",3.914,48,0.00838
3,JOURNAL OF HEALTH COMMUNICATION,J HEALTH COMMUN,"3,233",1.614,139,0.00707
4,Information Communication & Society,INFORM COMMUN SOC,"2,005",2.692,94,0.00600
5,PUBLIC OPINION QUARTERLY,PUBLIC OPIN QUART,"4,893",1.386,41,0.00596

In [65]:
b.tail()

,Full Journal Title,JCR Abbreviated Title,Total Cites,Journal Impact Factor,Citable Items,Eigenfactor Score
Rank,,,,,,
75,JOURNAL OF BUSINESS AND TECHNICAL COMMUNICATION,J BUS TECH COMMUN,243,1.062,15,0.00026
76,Journal of African Media Studies,J AFR MEDIA STUD,66,0.154,22,0.00018
77,JOURNAL OF MEDIA ECONOMICS,J MEDIA ECON,187,0.217,12,0.00017
78,Tijdschrift voor Communicatiewetenschap,TIJDSCHR COMMUNWET,42,0.171,17,0.00007
79,African Journalism Studies,AFR JOURNAL STUD,12,0.171,27,0.00002

Differences in Format/Synatx:

- format of method: object.method_name(), e.g. L.sort(), L.remove(1)
- format of function: function_name(), e.g. max(L), min(L)
- format of attribute: object.attribute_name, e.g. b.shape, b.index, b.columns

In [66]:
#check the dimensions of the dataframe with .shape attribute
b.shape

(79, 6)

In [69]:
#min, max, mode, median, sum, var, std of Journal Impact Factor
print(b['Journal Impact Factor'].min())
print(b['Journal Impact Factor'].max())
print(b['Journal Impact Factor'].mode())
print(b['Journal Impact Factor'].median())
print(b['Journal Impact Factor'].sum())
print(b['Journal Impact Factor'].var())
print(b['Journal Impact Factor'].std())

0.154
4.18
0    0.171
1    0.448
2    0.689
3    1.311
Name: Journal Impact Factor, dtype: float64
1.128
105.665
0.8180902778318728
0.9044834314855484

<div class="alert alert-block alert-success">

We can use methods:
- `Dataframe.sort_values(column_name[, ascending=True])` to sort dataframe by a column
- `Series.value_counts([normalize=False])`
- `Dataframe.pivot_table(index=column1, [column=column2,] values=column3, aggfunc=function_name)` to generate aggregate cross-tabulation about the dataframe
    - A combination of splitting dataframe, applying some function, and combining results</div>

In [70]:
b.sort_values('Journal Impact Factor')

,Full Journal Title,JCR Abbreviated Title,Total Cites,Journal Impact Factor,Citable Items,Eigenfactor Score
Rank,,,,,,
76,Journal of African Media Studies,J AFR MEDIA STUD,66,0.154,22,0.00018
79,African Journalism Studies,AFR JOURNAL STUD,12,0.171,27,0.00002
78,Tijdschrift voor Communicatiewetenschap,TIJDSCHR COMMUNWET,42,0.171,17,0.00007
77,JOURNAL OF MEDIA ECONOMICS,J MEDIA ECON,187,0.217,12,0.00017
50,JOURNAL OF APPLIED COMMUNICATION RESEARCH,J APPL COMMUN RES,692,0.308,27,0.00072
...,...,...,...,...,...,...
8,COMMUNICATION RESEARCH,COMMUN RES,"3,459",3.021,45,0.00440
31,MEDIA PSYCHOLOGY,MEDIA PSYCHOL,"1,264",3.125,26,0.00144
2,JOURNAL OF COMMUNICATION,J COMMUN,"5,579",3.914,48,0.00838
7,Journal of Computer-Mediated Communication,J COMPUT-MEDIAT COMM,"4,011",4.113,27,0.00500
1,NEW MEDIA & SOCIETY,NEW MEDIA SOC,"3,592",4.180,146,0.00930

In [71]:
b.sort_values('Journal Impact Factor',ascending=False)

,Full Journal Title,JCR Abbreviated Title,Total Cites,Journal Impact Factor,Citable Items,Eigenfactor Score
Rank,,,,,,
1,NEW MEDIA & SOCIETY,NEW MEDIA SOC,"3,592",4.180,146,0.00930
7,Journal of Computer-Mediated Communication,J COMPUT-MEDIAT COMM,"4,011",4.113,27,0.00500
2,JOURNAL OF COMMUNICATION,J COMMUN,"5,579",3.914,48,0.00838
31,MEDIA PSYCHOLOGY,MEDIA PSYCHOL,"1,264",3.125,26,0.00144
8,COMMUNICATION RESEARCH,COMMUN RES,"3,459",3.021,45,0.00440
...,...,...,...,...,...,...
50,JOURNAL OF APPLIED COMMUNICATION RESEARCH,J APPL COMMUN RES,692,0.308,27,0.00072
77,JOURNAL OF MEDIA ECONOMICS,J MEDIA ECON,187,0.217,12,0.00017
78,Tijdschrift voor Communicatiewetenschap,TIJDSCHR COMMUNWET,42,0.171,17,0.00007
79,African Journalism Studies,AFR JOURNAL STUD,12,0.171,27,0.00002
76,Journal of African Media Studies,J AFR MEDIA STUD,66,0.154,22,0.00018

In [72]:
#save Dataframe to a csv file
b.to_csv("output_data.csv")

Download the stackoverflow developer survey data here: https://juniorworld.github.io/python-workshop/doc/stack-overflow-developer-survey-2022-first1000.csv

In [73]:
#read survey data into dataframe c
c = pd.read_csv("https://juniorworld.github.io/python-workshop/doc/stack-overflow-developer-survey-2022-first1000.csv")

In [77]:
c = pd.read_csv("stack-overflow-developer-survey-2022-first1000.csv")

In [74]:
c.head()

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
1,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
2,4,I am a developer by profession,"Employed, full-time",Fully remote,I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
3,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
4,6,"I am not primarily a developer, but I write co...","Student, full-time",NaN,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [75]:
c.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [76]:
c.shape

(1000, 79)

In [81]:
c['Age'].value_counts()

25-34 years old       417
18-24 years old       236
35-44 years old       196
45-54 years old        60
Under 18 years old     31
55-64 years old        25
65 years or older       7
Prefer not to say       6
Name: Age, dtype: int64

In [78]:
#break down dataframe by Gender, EdLevel, and Age
#.value_counts() & .value_counts(normalize=True)
c['Gender'].value_counts()

Man                                                                         884
Woman                                                                        52
Non-binary, genderqueer, or gender non-conforming                            15
Prefer not to say                                                            14
Man;Non-binary, genderqueer, or gender non-conforming                         3
Woman;Non-binary, genderqueer, or gender non-conforming                       3
Or, in your own words:                                                        2
Or, in your own words:;Non-binary, genderqueer, or gender non-conforming      1
Man;Woman                                                                     1
Man;Or, in your own words:                                                    1
Name: Gender, dtype: int64

In [79]:
c['Gender'].value_counts(normalize=True)

Man                                                                         0.905738
Woman                                                                       0.053279
Non-binary, genderqueer, or gender non-conforming                           0.015369
Prefer not to say                                                           0.014344
Man;Non-binary, genderqueer, or gender non-conforming                       0.003074
Woman;Non-binary, genderqueer, or gender non-conforming                     0.003074
Or, in your own words:                                                      0.002049
Or, in your own words:;Non-binary, genderqueer, or gender non-conforming    0.001025
Man;Woman                                                                   0.001025
Man;Or, in your own words:                                                  0.001025
Name: Gender, dtype: float64

In [ ]:
#create a cross-tabulation between gender and ethnicity
.pivot_table()

## Quiz 1
https://www.menti.com/alyoht9a49ac

<img src="https://juniorworld.github.io/python-workshop/img/dictionary_QRcode.png" width="200" align="left">

# Break

-----

## Section 3: Built-in functions

<strong> A. File I/O: </strong>
- Use `open(path[,mode='r'])` function.
    - Modes: read ('r') or write ('w') or both ('r+') or append ('a')
- Input: `.readlines()` method will extract all content in the file as a list of strings. One paragraph, one string.
- Output: `.write(string)` method write the given content to the file, from the beginning of file if mode '`w`' is used or from the bottom of file if mode '`a`' is used.
- Save and Close File: `.close()` method
- Tips: 
    - Add line break `\n`
    - Remove line break or whitespaces at the beginning or the end of a string: method `.strip()`
    - Use slash `/` to denote directory

In [82]:
# Create a new file named "text.txt" in the current folder
file = open('text.txt','w')

In [83]:
#add three new lines, separated by line break mark \n
file.write("Hello world!\n")
file.write("COMM 7780\n")
file.write("Bye bye!\n")

9

In [84]:
#close it
file.close()

In [85]:
# Create a child folder test
# Create another file named "text2.txt" in the child folder
file2 = open("./test/text2.txt", "w")

In [86]:
file2.write("test2 file\n")

11

In [87]:
file2.close()

In [88]:
# Create a file named "text3.txt" in the parent folder
file3 = open("../text3.txt",'w')

In [89]:
file3.close()

In [ ]:
# grandparent folder?
"../../text3.txt"

In [94]:
#Open text.txt file
file = open('text.txt','r')

In [95]:
#read the existing lines
lines=file.readlines()

In [96]:
#print out the first line
lines[0]

'Hello world!\n'

In [111]:
#calculate the length (number of characters, including spaces) of first sentence
len(lines[0])

13

<strong> B. If/Else Statement </strong>
- If/Else Statement is used to test whether a condition is True. If statement is always followed by a question, a comparison condition, a logical operator, which will give you a boolen value of True or False. If True, do something. If False, do something else. 
- Format: `if logical_condition1 :... (else: ...)`
- Example:
>```python
if a==1:
        print('yes') #Block A
else:
        print('no') #Block B```
    >

In [102]:
x = 1
if x==0:
    print('ZERO!')
    print('Yes!')
else:
    print('Not Zero!')
    print('No!')
print('Done!')

Not Zero!
No!
Done!

In [104]:
x = 2
if x==0:
    print('ZERO!')
    print('Yes!')
elif x==1:
    print('ONE!')
    print('No!')
else:
    print("Not ZERO nor ONE!")
print('Done!')

Not ZERO nor ONE!
Done!

<div class="alert alert-block alert-success">
    **<b>Extra Knowledge</b>** <font style='color:red;font-weight:bold;'>If/Else</font> statement can be upgraded into a <font style='color:red;font-weight:bold;'>If/Elif/Else</font> statement. <font style='color:red;font-weight:bold;'>Elif = Else + If</font>
</div>

#### Practice: Realization of Decision Tree
<img src='https://juniorworld.github.io/python-workshop/img/week2-decision-tree2.png' width="200" align='left'>

In [105]:
#Use If/Elif/Else statement to realize this decision tree
x = 5
if x<10:
    print("Smaller")
elif x>20:
    print("Bigger")
else:
    print("Finish")

Smaller

<img src='img/week2-decision-tree.jpg' width='400' align='left'>

In [110]:
#Demonstration
#Use If/Elif/Else statement to allocate a patient with records as below:
a={'new patient':False,'unpaid bill':False}

if a['new patient']==True:
    print('Perform process 2: Add new patient')
elif a['unpaid bill']==True:
    print("Transfer the patient to business office")
else:
    print("Schedule Appointment")

Schedule Appointment